<!DOCTYPE html>

<Html>
   <head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <title>{{title}}</title>
   </head>
    <body>
        <div class="main-content">
            {{>header}}
        <p>This site is created by Fabian Goh. It uses Mapbox and Weatherstack!</p>
        <img class="portriat" src=/img/me.jpg>
    </div>
    {{>footer}}
    </body>
     
</Html>